/* VISUAL */
.page {
    margin-top: 35px;
    padding: 0;
}

.main {
    position: absolute;
    left: 320px;
    right: 60px;
    height: 650px;
    border-radius: 20px;
    background-color: white;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.outsideDiv {
    position: relative;
    margin: 40px 50px;
    border: none;
    border-radius: 20px;
    background-color: #DFEDEF;
    font-family: 'Nanum Gothic', sans-serif;
    height: 87%;
}

.nav {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: white;
    border-radius: 20px;
    width: 220px;
    height: 650px;
    margin-left: 60px;
    position: fixed;
}

.nav div {
    margin-top: 50px;
    font-weight: bolder;
    text-align: center;
}

.Nav_btn {
    text-align: left;
    position: relative;
    display: flex;
    left: 20%;
    width: 110px;
}

.Nav_btn img {
    margin-top: 2px;
    margin-right: 10px;
}

.Nav_btn .span_box {
    left: 0;
    margin-top: 5px;
}

.Nav_btn .span_box span {
    font-size: 18px;
    color: #999;
}

.Nav_btn_act {
    text-align: left;
    position: relative;
    display: block;
    left: 20%;
    width: 110px;
    display: flex;
}

.Nav_btn_act .listsParent {
    margin-bottom: 0;
    height: 24px;
    display: flex;
}

.Nav_btn_act .lists {
    display: block;
    margin-top: 0px;
}

.Nav_btn_act .lists p {
    margin-left: 34px;
    text-align: left;
    margin-top: 15px;
    width: 105px;
}

.Nav_btn_act img {
    margin-top: 2px;
    margin-right: 10px;
    color: #042434;
}

.Nav_btn_act .span_box {
    left: 0;
    margin-top: 5px;
}

.Nav_btn_act .span_box span {
    font-size: 18px;
    color: #042434;
}

.logout {
    background-color: 0, 0, 0, 0;
    border: none;
    position: absolute;
    left: 10%;
    bottom: 2%;
    display: flex;
}

.logout span {
    margin: 3px 5px;
    font-size: 15px;
    font-weight: bolder;
    color: #0da2a5;
}


/* BookActive */
.BookActive {
    height: 100%;
}

.BookActive .outsideDiv .number {
    position: absolute;
    left: 45%;
    right: 45%;
    bottom: 3%;
}

.BookActive .outsideDiv .add {
    position: absolute;
    right: 40px;
    bottom: 45px;
    border: 1px solid #62a3a7;
    background-color: #62a3a7;
    color: white;
    width: 80px;
    border-radius: 10px;
    border: none;
    padding: 8px 0px;
    margin-right: 10px;
    font-weight: bolder;
}

.BookActive .outsideDiv .innerDiv {
    position: relative;
    top: 40px;
    left: 50px;
}

.BookActive .outsideDiv .innerDiv .header {
    display: flex;
}

.BookActive .outsideDiv .innerDiv .header p {
    font-size: 20px;
    font-weight: bolder;
    color: #042434;
}

.BookActive .outsideDiv .innerDiv .header div {
    margin-top: -5px;
    padding: 10px 0px;
    text-align: center;
    width: 80px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    position: absolute;
    right: 100px;
    font-weight: bolder;
    color: #03888F;
}

.BookActive .outsideDiv .innerDiv .contentBoxes {
    position: relative;
    margin-right: 100px;
    height: 400px;
    top: 20px;
}

.BookActiveContent {
    display: flex;
    position: relative;
    border-radius: 10px;
    margin-bottom: 8px;
    left: 0%;
    height: 60px;
    background-color: white;
}

.BookActiveContent .ON {
    position: absolute;
    border-radius: 10px;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.40);
}

.BookActiveContent .checkbox {
    margin-left: 5px;
    position: relative;
    width: 42px;
    height: 42px;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='40' height='40' rx='10' fill='white' stroke='%23116174' stroke-opacity='0.33'/%3E%3C/svg%3E%0A");
}

.BookActiveContent .checkbox_on {
    margin-left: 5px;
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='10' fill='%2361C7C9'/%3E%3Cpath d='M12 20.5L18 26.5L27 13' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    ;
}

.BookActiveContent label {
    position: absolute;
    bottom: 0;
    top: 35%;
    margin-left: 50px;
}

.BookActiveContent div {
    position: absolute;
    top: 10px;
    right: 0;
}

.BookActiveContent div .about {
    border: 1px solid #075061;
    background-color: white;
    color: #5c8c97;
}

.BookActiveContent div .delete {
    border: 1px solid #62a3a7;
    background-color: #62a3a7;
    color: white;
}

.BookActiveContent div button {
    width: 80px;
    border-radius: 10px;
    border: none;
    padding: 8px 0px;
    margin-right: 10px;
    font-weight: bolder;
}

.YAML {
    font-size: 30px;
    color: #0da2a5;
}


/* Volunteer */
.Volunteer {
    height: 100%;
}

.Volunteer .outsideDiv .number {
    position: absolute;
    left: 45%;
    right: 45%;
    bottom: 3%;
}

.Volunteer .outsideDiv .add {
    position: absolute;
    right: 40px;
    bottom: 45px;
    border: 1px solid #62a3a7;
    background-color: #62a3a7;
    color: white;
    width: 80px;
    border-radius: 10px;
    border: none;
    padding: 8px 0px;
    margin-right: 10px;
    font-weight: bolder;
}

.Volunteer .outsideDiv .innerDiv {
    position: relative;
    top: 40px;
    left: 50px;
}

.Volunteer .outsideDiv .innerDiv .header {
    display: flex;
}

.Volunteer .outsideDiv .innerDiv .header p {
    font-size: 20px;
    font-weight: bolder;
    color: #042434;
}

.Volunteer .outsideDiv .innerDiv .header div {
    margin-top: -5px;
    padding: 10px 0px;
    text-align: center;
    width: 80px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    position: absolute;
    right: 100px;
    font-weight: bolder;
    color: #03888F;
}

.Volunteer .outsideDiv .innerDiv .contentBoxes {
    position: relative;
    margin-right: 100px;
    height: 400px;
    top: 20px;
}

.VolunteerContent {
    display: flex;
    position: relative;
    border-radius: 5px;
    margin-bottom: 8px;
    left: 0%;
    height: 60px;
    background-color: white;
}

.VolunteerContent .ON {
    position: absolute;
    border-radius: 5px;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.40);
}

.VolunteerContent .checkbox {
    margin-left: 5px;
    position: relative;
    width: 42px;
    height: 42px;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='40' height='40' rx='10' fill='white' stroke='%23116174' stroke-opacity='0.33'/%3E%3C/svg%3E%0A");
}

.VolunteerContent .checkbox_on {
    margin-left: 5px;
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='10' fill='%2361C7C9'/%3E%3Cpath d='M12 20.5L18 26.5L27 13' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.VolunteerContent label {
    position: absolute;
    bottom: 0;
    top: 35%;
    margin-left: 50px;
}

.VolunteerContent div {
    position: absolute;
    top: 10px;
    right: 0;
}

.VolunteerContent div .about {
    border: 1px solid #075061;
    background-color: white;
    color: #5c8c97;
}

.VolunteerContent div .delete {
    border: 1px solid #62a3a7;
    background-color: #62a3a7;
    color: white;
}

.VolunteerContent div button {
    width: 80px;
    border-radius: 10px;
    border: none;
    padding: 8px 0px;
    margin-right: 10px;
    font-weight: bolder;
}
.Volunteer .outsideDiv .innerDiv input {
    margin-top: 10px;
    font-family: "Pretendard";
    height: 36px;
    border-radius: 5px;
    color: #999;
    border: 1px solid #CDCDCD;

}
.Volunteer .outsideDiv .innerDiv .activeName {
    width: 300px;
    border-radius: 5px;
    padding: 0 0 0 10px;
}
.Volunteer .outsideDiv .innerDiv .hourInput {
    width: 70px;
    border-radius: 5px;
    padding: 0 0 0 10px;
    margin-left: 20px
}
.Volunteer .outsideDiv .innerDiv h {
    font-family: "Pretendard";
    font-size: 18px;
    position: relative;
}
.Volunteer .outsideDiv .innerDiv button {
    height: 36px;
    width: 70px;
    font-family: "Pretendard";
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    background-color: #519498;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}
.Volunteer .outsideDiv .innerDiv button:active {
    background-color: #fff;
    color: #519498;
}
.Volunteer .outsideDiv .innerDiv .scoreBox {
    background-color: #fff;
    width: 80px;
    height: 32px;
    position: absolute;
    z-index: 1;
    top: -1px;
    margin-left: 875px;
    margin-top: 33px;
    text-align: center;
    border-radius: 5px;
    color: #03888F;
    font-family: "Pretendard";
    font-size: 18px;
}


// MagjorAward
.MajorAward {
    height: 100%;
}

.MajorAward .outsideDiv {
    position: relative;
    margin: 40px 50px;
    background-color: #ffffff;
}

.MajorAward .outsideDiv .innerDiv {
    position: relative;
    top: 40px;
    left: 20px;
}

.MajorAward .outsideDiv .innerDiv .header {
    display: flex;
}

.MajorAward .outsideDiv .innerDiv .header p {
    font-size: 20px;
    font-weight: bolder;
    color: #075061;
}

.MajorAward .outsideDiv .innerDiv .header .score {
    margin-top: -10px;
    padding: 10px 0px;
    text-align: center;
    width: 80px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    position: absolute;
    right: 20px;
    font-weight: bolder;
    color: #03888F;
}

.MajorAward .outsideDiv .innerDiv .contentBoxes {
    margin-top: 20px;
}