/* VISUAL */
button {
  cursor: pointer;
}

.page {
  margin-top: 35px;
  padding: 0;
}

.main {
  position: absolute;
  left: 320px;
  right: 60px;
  height: 650px;
  border-radius: 20px;
  background-color: white;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.outsideDiv {
  position: relative;
  margin: 40px 50px;
  border: none;
  border-radius: 20px;
  background-color: #DFEDEF;
  font-family: 'Nanum Gothic', sans-serif;
  height: 87%;
}

.nav {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: white;
  border-radius: 20px;
  width: 220px;
  height: 650px;
  margin-left: 60px;
  position: fixed;
}

.nav div {
  margin-top: 50px;
  font-weight: bolder;
  text-align: center;
}

.Nav_btn {
  text-align: left;
  position: relative;
  display: flex;
  left: 20%;
  width: 110px;
}

.Nav_btn img {
  margin-top: 2px;
  margin-right: 10px;
}

.Nav_btn .span_box {
  left: 0;
  margin-top: 5px;
}

.Nav_btn .span_box span {
  font-size: 18px;
  color: #999;
}

.Nav_btn_act {
  text-align: left;
  position: relative;
  display: block;
  left: 20%;
  width: 110px;
  display: flex;
}

.Nav_btn_act .listsParent {
  margin-bottom: 0;
  height: 24px;
  display: flex;
}

.Nav_btn_act .lists {
  display: block;
  margin-top: 0px;
}

.Nav_btn_act .lists p {
  margin-left: 34px;
  text-align: left;
  margin-top: 15px;
  width: 105px;
}

.Nav_btn_act img {
  margin-top: 2px;
  margin-right: 10px;
  color: #042434;
}

.Nav_btn_act .span_box {
  left: 0;
  margin-top: 5px;
}

.Nav_btn_act .span_box span {
  font-size: 18px;
  color: #042434;
}

.logout {
  background-color: 0, 0, 0, 0;
  border: none;
  position: absolute;
  left: 10%;
  bottom: 2%;
  display: flex;
}

.logout span {
  margin: 3px 5px;
  font-size: 15px;
  font-weight: bolder;
  color: #0da2a5;
}


/* BookActive */
.BookActive {
  height: 100%;
}

.BookActive .outsideDiv .number {
  position: absolute;
  left: 45%;
  right: 45%;
  bottom: 3%;
}

.BookActive .outsideDiv .add {
  position: absolute;
  right: 40px;
  bottom: 45px;
  border: 1px solid #62a3a7;
  background-color: #62a3a7;
  color: white;
  width: 80px;
  border-radius: 10px;
  border: none;
  padding: 8px 0px;
  margin-right: 10px;
  font-weight: bolder;
}

.BookActive .outsideDiv .innerDiv {
  position: relative;
  top: 40px;
  left: 50px;
}

.BookActive .outsideDiv .innerDiv .header {
  display: flex;
}

.BookActive .outsideDiv .innerDiv .header p {
  font-size: 20px;
  font-weight: bolder;
  color: #042434;
}

.BookActive .outsideDiv .innerDiv .header div {
  margin-top: -5px;
  padding: 10px 0px;
  text-align: center;
  width: 80px;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  position: absolute;
  right: 100px;
  font-weight: bolder;
  color: #03888F;
}

.BookActive .outsideDiv .innerDiv .contentBoxes {
  position: relative;
  margin-right: 100px;
  height: 400px;
  top: 20px;
}

.BookActiveContent {
  display: flex;
  position: relative;
  border-radius: 10px;
  margin-bottom: 8px;
  left: 0%;
  height: 60px;
  background-color: white;
}

.BookActiveContent .ON {
  position: absolute;
  border-radius: 10px;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.40);
}

.BookActiveContent .checkbox {
  margin-left: 5px;
  position: relative;
  width: 42px;
  height: 42px;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='40' height='40' rx='10' fill='white' stroke='%23116174' stroke-opacity='0.33'/%3E%3C/svg%3E%0A");
}

.BookActiveContent .checkbox_on {
  margin-left: 5px;
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='10' fill='%2361C7C9'/%3E%3Cpath d='M12 20.5L18 26.5L27 13' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  ;
}

.BookActiveContent label {
  position: absolute;
  bottom: 0;
  top: 35%;
  margin-left: 50px;
}

.BookActiveContent div {
  position: absolute;
  top: 10px;
  right: 0;
}

.BookActiveContent div .about {
  border: 1px solid #075061;
  background-color: white;
  color: #5c8c97;
}

.BookActiveContent div .delete {
  border: 1px solid #62a3a7;
  background-color: #62a3a7;
  color: white;
}

.BookActiveContent div button {
  width: 80px;
  border-radius: 10px;
  border: none;
  padding: 8px 0px;
  margin-right: 10px;
  font-weight: bolder;
}

.YAML {
  font-size: 30px;
  color: #0da2a5;
}


/* Volunteer */
.Volunteer {
  height: 100%;
}

.Volunteer .outsideDiv .number {
  position: absolute;
  left: 45%;
  right: 45%;
  bottom: 3%;
}

.Volunteer .outsideDiv .add {
  position: absolute;
  right: 40px;
  bottom: 45px;
  border: 1px solid #62a3a7;
  background-color: #62a3a7;
  color: white;
  width: 80px;
  border-radius: 10px;
  border: none;
  padding: 8px 0px;
  margin-right: 10px;
  font-weight: bolder;
}

.Volunteer .outsideDiv .innerDiv {
  position: relative;
  top: 40px;
  left: 50px;
}

.Volunteer .outsideDiv .innerDiv .header {
  display: flex;
}

.Volunteer .outsideDiv .innerDiv .header p {
  font-size: 20px;
  font-weight: bolder;
  color: #042434;
}

.Volunteer .outsideDiv .innerDiv .header div {
  margin-top: -5px;
  padding: 10px 0px;
  text-align: center;
  width: 80px;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  position: absolute;
  right: 100px;
  font-weight: bolder;
  color: #03888F;
}

.Volunteer .outsideDiv .innerDiv .contentBoxes {
  position: relative;
  margin-right: 100px;
  height: 400px;
  top: 20px;
}

.VolunteerContent {
  display: flex;
  position: relative;
  border-radius: 5px;
  margin-bottom: 8px;
  left: 0%;
  height: 60px;
  background-color: white;
}

.VolunteerContent .ON {
  position: absolute;
  border-radius: 5px;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.40);
}

.VolunteerContent .checkbox {
  margin-left: 5px;
  position: relative;
  width: 42px;
  height: 42px;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='40' height='40' rx='10' fill='white' stroke='%23116174' stroke-opacity='0.33'/%3E%3C/svg%3E%0A");
}

.VolunteerContent .checkbox_on {
  margin-left: 5px;
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='10' fill='%2361C7C9'/%3E%3Cpath d='M12 20.5L18 26.5L27 13' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.VolunteerContent label {
  position: absolute;
  bottom: 0;
  top: 35%;
  margin-left: 50px;
}

.VolunteerContent div {
  position: absolute;
  top: 10px;
  right: 0;
}

.VolunteerContent div .about {
  border: 1px solid #075061;
  background-color: white;
  color: #5c8c97;
}

.VolunteerContent div .delete {
  border: 1px solid #62a3a7;
  background-color: #62a3a7;
  color: white;
}

.VolunteerContent div button {
  width: 80px;
  border-radius: 10px;
  border: none;
  padding: 8px 0px;
  margin-right: 10px;
  font-weight: bolder;
}

.Volunteer .outsideDiv .innerDiv input {
  margin-top: 10px;
  font-family: "Pretendard";
  height: 36px;
  border-radius: 5px;
  color: #999;
  border: 1px solid #CDCDCD;

}

.Volunteer .outsideDiv .innerDiv .activeName {
  width: 300px;
  border-radius: 5px;
  padding: 0 0 0 10px;
}

.Volunteer .outsideDiv .innerDiv .hourInput {
  width: 70px;
  border-radius: 5px;
  padding: 0 0 0 10px;
  margin-left: 20px
}

.Volunteer .outsideDiv .innerDiv h {
  font-family: "Pretendard";
  font-size: 18px;
  position: relative;
}

.Volunteer .outsideDiv .innerDiv button {
  height: 36px;
  width: 70px;
  font-family: "Pretendard";
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  background-color: #519498;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.Volunteer .outsideDiv .innerDiv button:active {
  background-color: #fff;
  color: #519498;
}

.Volunteer .outsideDiv .innerDiv .scoreBox {
  background-color: #fff;
  width: 80px;
  height: 32px;
  position: absolute;
  z-index: 1;
  top: -1px;
  margin-left: 875px;
  margin-top: 33px;
  text-align: center;
  border-radius: 5px;
  color: #03888F;
  font-family: "Pretendard";
  font-size: 18px;
}


// MagjorAward
.MajorAward {
  height: 100%;

  .outsideDiv {
    position: relative;
    margin: 40px 50px;
    background-color: #ffffff;

    .innerDiv {
      position: relative;
      top: 40px;
      left: 20px;

      .header {
        display: flex;

        p {
          font-size: 20px;
          font-weight: bolder;
          color: #075061;
        }

        .score {
          margin-top: -10px;
          padding: 10px 0px;
          text-align: center;
          width: 80px;
          background-color: white;
          border: none;
          border-radius: 10px;
          box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
          font-size: 14px;
          position: absolute;
          right: 20px;
          font-weight: bolder;
          color: #03888F;
        }
      }

      .contentBoxes {
        margin-top: 20px;
        display: inline-flex;
        flex-wrap: wrap;
        width: 120%;

        .addContents {
          border: 2px solid #AEAEAE;
          border-radius: 2px;
          width: 210px;
          height: 130px;
          box-shadow: 0 3px 20px 0 rgba(#a4a4a4, 0.63);
          margin-right: 60px;
          margin-bottom: 40px;
          text-align: center;

          svg {
            padding: 50px 0;
          }
        }

        .background {
          border-radius: 20px;
          background-color: rgba(#000000, 0.40);
          position: absolute;
          top: -80px;
          left: -70px;
          right: -30px;
          height: 650px;
          z-index: 1;
          text-align: center;

          .whitebox {
            position: absolute;
            right: 32%;
            margin: 100px auto;
            background-color: white;
            width: 35%;
            height: 450px;

            button {
              position: relative;
              top: 15px;
              right: -170px;
              background-color: rgba(#000000, 0);
              border: none;
            }

            div {
              padding: 50% 0;
            }
          }
        }

        #contents {
          border: 2px solid #AEAEAE;
          border-radius: 2px;
          width: 210px;
          height: 130px;
          box-shadow: 0 3px 20px 0 rgba(#a4a4a4, 0.63);
          margin-right: 60px;
          margin-bottom: 40px;
          -ms-user-select: none;
          -moz-user-select: -moz-none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          user-select: none;

          &:active {
            background-color: rgba(#000000, 0.46);
          }


          h2 {
            font-size: 18px;
            position: relative;
            top: 25px;
            left: 10px;
            font-weight: bolder;
            color: #595959;
          }

          span {
            position: relative;
            bottom: -45%;
            left: 12px;
            color: #aeaeae;
            font-size: 13px;

            svg {
              position: absolute;
              top: 2px;
              left: 50px;
            }
          }

          .head {
            display: flex;
            position: relative;
            top: 15px;
            left: 10px;
            width: 100%;

            .outofschool {
              background-color: #b1d9f0;
              border-radius: 10px;
              width: 60px;
              height: 10px;
              text-align: center;
              padding: 6px 0px;
              font-size: 10px;
              font-weight: bold;
            }

            .innerschool {
              background-color: #f6ed96;
              border-radius: 10px;
              width: 60px;
              height: 10px;
              text-align: center;
              padding: 6px 0px;
              font-size: 10px;
              font-weight: bold;
            }

            button {
              position: absolute;
              right: 15px;
              background-color: rgba(#000000, 0);
              border: none;
            }
          }
        }
      }
    }
  }
}

.foreign {
  .outsideDiv {
    height: 565px;
    display: flex;

    .checkPoint {
      position: absolute;
      left: 40px;
      bottom: 20px;
      color: white;
      background-color: #03888F;
      border: none;
      border-radius: 10px;
      width: 160px;
      height: 40px;

      &:hover {
        background-color: darken(#03888F, 5%);
      }

      &:active {
        background-color: lighten(#03888F, 5%);
      }
    }

    .point {
      cursor: context-menu;
      position: absolute;
      right: 40px;
      bottom: 20px;
      background-color: white;
      border-radius: 10px;
      width: 160px;
      height: 40px;
      text-align: center;
      font-size: 15px;

      span {
        color: #03888F;
        font-weight: bold;
      }
    }

    .contents {
      margin: 80px auto;
      width: 110px;
      height: 50px;
      background-color: white;
      border: 2px solid #075061;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;

      p {
        position: relative;
        padding: 15px 0;
        left: 10%;
        width: 80px;
      }

      .chosen {
        color: #03888F;
        font-weight: bold;
      }

      div {
        margin-top: 2px;
        text-align: center;
        width: 100%;
        background-color: white;
        border: 2px solid #7BA6A7;
        border-radius: 4px;

        option {
          cursor: pointer;
          padding: 10px 0;
        }
      }

      button {
        outline: none;
        position: relative;
        left: 5px;
        width: 10px;
        height: 50px;
        border: none;
        background-color: rgba(#000000, 0);
      }
    }
  }
}

.Education {
  .header {
    background-color: #d9eeef;
    width: 90%;
    height: 80px;
    margin: 60px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(#000000, 0.25);
  }
}

.MajorCertification {
  .header {
    font-size: 20px;
    color: #075061;
    font-weight: bold;
    margin: 60px 50px 0;
  }

  .outsideDiv {
    position: absolute;
    height: 500px;
    left: 0px;
    right: 0%;
    top: 50px;

    .point {
      position: absolute;
      left: 50px;
      width: 100px;
      text-align: center;
      background-color: white;
      padding: 10px 0;
      border-radius: 8px;
      color: #03888F;
      font-weight: bold;
      box-shadow: 0 2px 4px 0 rgba(#000000, 0.25);
    }

    .addContents {
      position: absolute;
      text-align: center;
      background-color: #62A3A7;
      padding: 10px 0;
      border-radius: 8px;
      right: 50px;
      width: 120px;
      color: white;
    }

    .contentsDiv {
      margin: auto;
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      width: 92%;

      .contents {
        margin: auto;
        display: flex;
        background-color: white;
        width: 300px;
        height: 100px;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(#000000, 0.25);
        margin-bottom: 30px;

        .check {
          margin: 15px;
        }

        .download {
          position: absolute;
          background-color: #eef7f8;
          margin-top: 60px;
          margin-left: 20px;
          font-size: 15px;
          font-weight: bold;
          border-radius: 10px;
          width: 260px;
          padding: 8px 0;
          color: #075061;
          text-align: center;
          cursor: pointer;
        }

        span {
          margin-top: 20px;
        }

        button {
          position: fixed;
          margin-top: 15px;
          margin-left: 250px;
          height: 30px;
          background-color: rgba(#000000, 0);
          border: none;
        }
      }
    }
  }
}