.page {
  margin-top: 50px;

  .main {
    position: fixed;
    left: 320px;
    right: 60px;
    height: 650px;
    border-radius: 20px;
    background-color: white;
  }

  .nav {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: white;
    border-radius: 20px;
    width: 220px;
    height: 650px;
    margin-left: 60px;
    position: fixed;

    div {
      margin-top: 70px;
      font-weight: bolder;
      text-align: center;

      div {
        text-align: left;
        position: relative;
        display: flex;
        left: 20%;

        img {
          margin-right: 10px;
        }

        div {
          left: 0;
          margin-top: 5px;

          span {
            font-size: 18px;
            color: #999;
          }
        }
      }

      .YAML {
        font-size: 30px;
        color: #0da2a5;
      }
    }
  }
}